<h1><%= t(".edit") %></h1>

<div class="row">
  <div class="col-md-6 buffer-top">
    <%= render 'form' %>
    <p class="buffer-top">
      <%= link_to t(".edit-password"), edit_user_registration_path %>
    </p>
  </div>
</div>
